body{
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    margin: 0; 

}
.box {
    background-color: rgb(0, 15, 20);
    height: 620px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: 3px solid rgb(0, 225, 255);
}

.img{
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    margin-bottom: 15px;
    margin-top: -160px; 
    margin-left: 50px;
}

.name {
    color: rgb(219, 219, 219);
    font-size: medium;
    margin-top: -15px;
    margin-left: 10px;
    font-family: monospace;
    text-align: center;
}

button {
    background-color: rgb(0, 71, 112);
    color: azure;
    width: 90px;
    height: 25px;
    margin: 5px;
    border-radius: 10px;
    border: none;

}

button:hover    {
        transform: scale(1.1);
}

.project {
    color: aliceblue;
}


